@model EShopAdminApplication_2.Models.FoodItem

@{
    ViewData["Title"] = "Food Item Details";
}

<h1>@Model.Name</h1>
<p>Weight: @Model.Weight grams</p>
<p>Price: @Model.Price den</p>

<div>
    <a asp-controller="FoodItem" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>

    <a asp-controller="FoodItem" asp-action="Delete" asp-route-restaurantId="@Model.RestaurantId" asp-route-foodItemId="@Model.Id" class="btn btn-danger btn-sm">Delete</a>

    <a asp-controller="Restaurant" asp-action="Details" asp-route-id="@Model.RestaurantId" class="btn btn-secondary">Back to Restaurant Details</a>

</div>
