@model FoodDeliveryApp.Domain.Domain.Restaurant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container w-100 d-flex justify-content-center flex-column align-items-center">
    <h1>@Model.Name</h1>
    <p>Location: @Model.Location</p>

    <h2>Food Items</h2>
    <div class="container m-auto">
        <div class="row w-75 m-auto">
            @foreach (var foodItem in Model.FoodItems)
            {
                <div class="col-md-3 mb-4">
                    <div class="card h-100 d-flex flex-column">
                        <div class="card-body">
                            <h5 class="card-title">@foodItem.Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@foodItem.Weight grams</h6>
                            <h5 class="card-subtitle mb-2 text-muted">@foodItem.Price den</h5>
                        </div>
                        <div class="mt-auto p-2">
                            <a class="btn btn-success w-100" asp-controller="Order" asp-action="Order" asp-route-foodItemId="@foodItem.Id">Order Now</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

