@model IEnumerable<FoodDeliveryApp.Domain.Domain.Restaurant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container m-auto align-items-center d-flex justify-content-center flex-column">
    <h1>Restaurnats</h1>
   <!--
        <p>
            <a class="btn btn-primary w-100" asp-action="Create">Create New</a>
        </p>
    -->

    <div class="row w-100">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100 d-flex flex-column">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Location: @item.Location</h6>
                        <ul>
                            @{
                                var foodItems = item.FoodItems.Take(5).ToList();
                            }
                            @foreach (var foodItem in foodItems)
                            {
                                <li>@foodItem.Name</li>
                            }
                            @if (item.FoodItems.Count > 5)
                            {
                                <li>... and @(item.FoodItems.Count - 5) more</li>
                            }
                        </ul>
                    </div>
                    <div class="mt-auto p-2">
                        <a class="btn btn-success w-100" asp-action="Details" asp-route-id="@item.Id">Explore Restaurant</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

